@import '_mixins.scss';

// Main Styles

html {
    font-size: 10px;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.6;
}

body {
    box-sizing: border-box;
    font-size: 1.6rem;
    color: #eee;
    background-color: #555555;
}

// Header and nav

.nav {
    @include flex-row;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    height: 8rem;
    @include mq-max(600px) {
        height: 10rem;
    }
    background-color: #444444;
}

.nav__list {
    @include flex-row;
    justify-content: flex-end;
    width: 100%;
    padding: 0;
    @include mq-max(600px) {
        @include flex-center-column;
    }
}

.nav__item {
    font-size: 1.8rem;
    margin: 0.5rem 1rem;
    display: block;
    @include mq-max(600px) {
        width: 90%;
        margin: 0 5%;
    }
    &--title {
        margin-right: auto;
    }
    &--buttons {
        @include flex-center-row;
        @include mq-max(600px) {
            margin-top: 1rem;
        }
    }
}

.nav__title {
    font-size: 2.5rem;
    margin: 0;
    @include mq-max(600px) {
        display: none;
    }
}

.nav__link {
    color: #ffffff;
    text-decoration: none;
}

.nav__button {
    cursor: pointer;
    color: #eee;
    background: none;
    border: 1px solid #eee;
    padding: 0.4rem 1.5rem;
    border-radius: 2rem;
    transition: 0.3s all;
    margin: 0 1rem;
    font-size: 1.6rem;
    height: 3rem;
    &:hover {
        color: #1c2e5a;
        background: #eee;
        transition: 0.3s all;
    }
}

.search-form {
    @include flex-center-row;
}

.search-form__label {
    margin-right: 2rem;
    @include mq-max(600px) {
        display: none;
    }
}

.search-form__input {
    padding: 0.5rem 1.5rem;
    height: 2rem;
    width: 100%;
    border-radius: 2rem;
    margin-right: 2rem;
    margin-top: 0.3rem;
    border: none;
    @include mq-max(600px) {
        width: 90%;
        margin: 0 5%;
    }
}

// Main layout

.container {
    @include flex-center-column;
}

.section {
    margin-top: 8rem;
    margin-bottom: 3rem;
    @include flex-center-row;
    flex-wrap: wrap;
    @include mq-max(600px) {
        margin-top: 12rem;
    }
    @include mq-min(1201px) {
        width: 117rem;
    }
    @include mq-max(1200px) {
        width: 100%;
    }
}

.section__title {
    flex-basis: 100%;
    text-align: center;
}

.section__city {
    font-size: 2.7rem;
    font-weight: bold;
    @include mq-max(600px) {
        font-size: 2.4rem;
    }
}

// Weather data

.weather {
    @include flex-center-column;
    flex-wrap: wrap;
    width: 100%;
}

.weather__main {
    @include flex-center-row;
    width: 40%;
    @include mq-max(600px) {
        flex-direction: column;
        width: 100%;
    }
}

.weather__icon-box {
    @include flex-center-column;
    width: 35%;
    margin: 0 2.5%;
    @include mq-max(600px) {
        width: 90%;
        margin: 0 5%;
    }
}

.weather__temp-box {
    @include flex-center-column;
    width: 55%;
    margin: 0 2.5%;
    @include mq-max(600px) {
        width: 90%;
        margin: 0 5%;
    }
}

.weather__temp {
    font-size: 5rem;
    @include flex-center-row;
    margin: 1rem 0;
}

.weather__temp-secondary {
    @include flex-center-row;
    width: 100%;
}

.weather__temp-minmax {
    text-align: center;
    width: 40%;
    margin: 0 5%;
}

.weather__icon {
    display: block;
    font-size: 8rem;
    &--mid {
        font-size: 4rem;
        margin-right: 2rem;
    }
    &--small {
        font-size: 2rem;
        margin-right: 1rem;
    }
}

.weather__secondary {
    @include flex-center-column;
    margin: 2rem 0 3rem 0;
}

.weather__textbox {
    margin: 0.5rem 0 0 0;
    font-size: 1.8rem;
}

// Footer

.footer {
    @include flex-center-row;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    max-width: 100vw;
    min-height: 2rem;
    color: #eee;
    background-color: #444444;
}

.footer__copyright {
    font-size: 1rem;
}

.footer__link {
    color: #eee;
    text-decoration: none;
    border-bottom: none;
}

.footer__link:hover, .footer__link:focus {
    color: #fff;
    text-decoration: underline;
    border-bottom: none;
}

// Misc items

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #333333;
    text-indent: 1rem;
    padding: 1rem;
}

::-moz-placeholder { /* Firefox 19+ */
    color: #333333;
    text-indent: 1rem;
    padding: 1rem;
}

:-ms-input-placeholder { /* IE 10+ */
    color: #333333;
    text-indent: 1rem;
    padding: 1rem;
}

:-moz-placeholder { /* Firefox 18- */
    color: #333333;
    text-indent: 1rem;
    padding: 1rem;
}