html {
  font-size: 10px;
  font-family: 'Montserrat', sans-serif;
  line-height: 1.6; }

body {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 1.6rem;
  color: #eee;
  background-color: #555555; }

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  height: 8rem;
  background-color: #444444; }
  @media screen and (max-width: 720px) {
    .nav {
      height: 6rem; } }

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  width: 100%;
  padding: 0;
  position: relative;
  z-index: 2; }
  @media screen and (max-width: 720px) {
    .nav__list {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; } }

.nav__item {
  font-size: 1.8rem;
  margin: 0.5rem 1rem;
  display: block;
  background-color: #444444;
  z-index: 1; }
  @media screen and (max-width: 720px) {
    .nav__item {
      width: 90%;
      margin: 0 5%; } }
  .nav__item--title {
    margin-right: auto; }
    @media screen and (max-width: 720px) {
      .nav__item--title {
        width: 50%;
        margin-right: auto; } }
  .nav__item--buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row; }
    @media screen and (max-width: 720px) {
      .nav__item--buttons {
        margin-top: 1rem; } }
  @media screen and (max-width: 720px) {
    .nav__item--dropdown-first {
      height: 6rem;
      position: absolute;
      top: -10rem;
      left: 0;
      width: 100%;
      margin: 0;
      padding-top: 1rem;
      -webkit-transition: 0.3s all;
      transition: 0.3s all;
      opacity: 0; }
      .nav__item--dropdown-first--open {
        top: 4rem;
        opacity: 1; } }
  @media screen and (max-width: 720px) {
    .nav__item--dropdown-second {
      height: 4rem;
      position: absolute;
      top: -10rem;
      left: 0;
      width: 100%;
      margin: 0;
      padding: 0 0 1rem 0;
      -webkit-transition: 0.3s all;
      transition: 0.3s all;
      opacity: 0; }
      .nav__item--dropdown-second--open {
        top: 10rem;
        opacity: 1; } }
  .nav__item--hamburger {
    display: none;
    background: transparent; }
    @media screen and (max-width: 720px) {
      .nav__item--hamburger {
        display: block;
        font-size: 3rem;
        position: absolute;
        top: -1rem;
        right: 0;
        width: 20%;
        z-index: 2; } }

.nav__hamburger {
  cursor: pointer;
  background: none;
  border: none;
  color: #eee; }

.nav__title {
  font-size: 3rem;
  margin: 0;
  margin-top: -0.5rem; }

.nav__link {
  color: #ffffff;
  text-decoration: none; }

.nav__button {
  cursor: pointer;
  color: #eee;
  background: none;
  border: 1px solid #eee;
  padding: 0.4rem 1.5rem;
  border-radius: 2rem;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
  margin: 0 1rem;
  font-size: 1.6rem;
  height: 3rem; }
  .nav__button:hover {
    color: #1c2e5a;
    background: #eee;
    -webkit-transition: 0.3s all;
    transition: 0.3s all; }

.nav__icon {
  display: block;
  background: none;
  border: none;
  font-size: 3rem;
  -ms-flex-item-align: end;
  align-self: flex-end;
  color: #eee;
  cursor: pointer;
  margin-top: 0.2rem; }

.search-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row; }

.search-form__label {
  margin-right: 2rem; }
  @media screen and (max-width: 600px) {
    .search-form__label {
      display: none; } }

.search-form__input {
  padding: 0.5rem 1.5rem;
  height: 2rem;
  width: 100%;
  border-radius: 2rem;
  margin-right: 2rem;
  margin-top: 0.3rem;
  border: none; }
  @media screen and (max-width: 600px) {
    .search-form__input {
      width: 90%;
      margin: 0 5%; } }

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.section {
  margin-top: 8rem;
  margin-bottom: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  @media screen and (max-width: 600px) {
    .section {
      margin-top: 6rem; } }
  @media screen and (min-width: 1201px) {
    .section {
      width: 117rem; } }
  @media screen and (max-width: 1200px) {
    .section {
      width: 100%; } }

.section__title {
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  text-align: center; }

.section__city {
  font-size: 2.7rem;
  font-weight: bold; }
  @media screen and (max-width: 600px) {
    .section__city {
      font-size: 2.4rem; } }

.weather {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%; }

.weather__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  width: 40%; }
  @media screen and (max-width: 600px) {
    .weather__main {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      width: 100%; } }

.weather__icon-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 35%;
  margin: 0 2.5%; }
  @media screen and (max-width: 600px) {
    .weather__icon-box {
      width: 90%;
      margin: 0 5%; } }

.weather__temp-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 55%;
  margin: 0 2.5%; }
  @media screen and (max-width: 600px) {
    .weather__temp-box {
      width: 90%;
      margin: 0 5%; } }

.weather__temp {
  font-size: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  margin: 1rem 0; }

.weather__temp-secondary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  width: 100%; }

.weather__temp-minmax {
  text-align: center;
  width: 40%;
  margin: 0 5%; }

.weather__icon {
  display: block;
  font-size: 8rem; }
  .weather__icon--mid {
    font-size: 4rem;
    margin-right: 2rem; }
  .weather__icon--small {
    font-size: 2rem;
    margin-right: 1rem; }

.weather__secondary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 2rem 0 3rem 0; }

.weather__textbox {
  margin: 0.5rem 0 0 0;
  font-size: 1.8rem; }

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  max-width: 100vw;
  min-height: 2rem;
  color: #eee;
  background-color: #444444; }

.footer__copyright {
  font-size: 1rem; }

.footer__link {
  color: #eee;
  text-decoration: none;
  border-bottom: none; }

.footer__link:hover, .footer__link:focus {
  color: #fff;
  text-decoration: underline;
  border-bottom: none; }

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #333333;
  text-indent: 1rem;
  padding: 1rem; }

::-moz-placeholder {
  /* Firefox 19+ */
  color: #333333;
  text-indent: 1rem;
  padding: 1rem; }

:-ms-input-placeholder {
  /* IE 10+ */
  color: #333333;
  text-indent: 1rem;
  padding: 1rem; }

:-moz-placeholder {
  /* Firefox 18- */
  color: #333333;
  text-indent: 1rem;
  padding: 1rem; }
