html {
  font-size: 10px;
  font-family: 'Raleway', sans-serif;
  line-height: 1.6; }

body {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 1.6rem;
  color: #eee;
  font-family: 'Raleway', sans-serif;
  background-color: #555555; }

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  height: 8rem;
  background-color: #333333; }
  @media screen and (max-width: 600px) {
    .nav {
      height: 12rem; } }

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  width: 100%; }
  @media screen and (max-width: 600px) {
    .nav__list {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; } }

.nav__item {
  font-size: 1.8rem;
  margin: 0.5rem 1rem;
  display: block; }
  .nav__item--title {
    margin-right: auto; }

.nav__title {
  font-size: 2.5rem;
  margin: 0; }
  @media screen and (max-width: 600px) {
    .nav__title {
      display: none; } }

.nav__item:last-of-type {
  margin-right: 3rem; }

.nav__link {
  color: #ffffff;
  text-decoration: none; }

.nav__button {
  cursor: pointer;
  color: #eee;
  background: none;
  border: 1px solid #eee;
  padding: 0.4rem 1.5rem;
  border-radius: 2rem;
  -webkit-transition: 0.3s all;
  transition: 0.3s all; }
  .nav__button:hover {
    color: #1c2e5a;
    background: #eee;
    -webkit-transition: 0.3s all;
    transition: 0.3s all; }

.search-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row; }

.search-form__label {
  margin-right: 2rem; }

.search-form__input {
  padding: 0.5rem 1.5rem;
  border-radius: 2rem;
  margin-right: 2rem;
  border: none; }
  @media screen and (max-width: 600px) {
    .search-form__input {
      width: 60%; } }

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.section {
  margin-top: 8rem;
  margin-bottom: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  @media screen and (max-width: 600px) {
    .section {
      margin-top: 12rem; } }
  @media screen and (min-width: 1201px) {
    .section {
      width: 117rem; } }
  @media screen and (max-width: 1200px) {
    .section {
      width: 100%; } }

.section__title {
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  text-align: center; }

.section__city {
  font-size: 2.7rem;
  font-weight: bold; }
  @media screen and (max-width: 600px) {
    .section__city {
      font-size: 2.4rem; } }

.weather {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%; }

.weather__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 30%;
  margin: 2rem 1.5% 2rem 1.5%; }
  @media screen and (max-width: 600px) {
    .weather__box {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      width: 90%;
      margin: 0.5rem 5% 0.5rem 5%; } }

.weather__legend {
  font-weight: bold;
  margin: 0; }

.weather__data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  width: 100%;
  border-radius: 1rem;
  background-color: #777777;
  height: 5rem;
  text-align: center;
  font-size: 1.8rem; }

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  max-width: 100vw;
  min-height: 3rem;
  color: #eee;
  background-color: #333333; }

.footer__copyright {
  font-size: 1.2rem; }

.footer__link {
  color: #eee;
  text-decoration: none;
  border-bottom: none; }

.footer__link:hover, .footer__link:focus {
  color: #fff;
  text-decoration: underline;
  border-bottom: none; }

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #333333;
  text-indent: 1rem;
  padding: 1rem; }

::-moz-placeholder {
  /* Firefox 19+ */
  color: #333333;
  text-indent: 1rem;
  padding: 1rem; }

:-ms-input-placeholder {
  /* IE 10+ */
  color: #333333;
  text-indent: 1rem;
  padding: 1rem; }

:-moz-placeholder {
  /* Firefox 18- */
  color: #333333;
  text-indent: 1rem;
  padding: 1rem; }
